* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body {
    padding: 40px;
    overflow-x: hidden;
    background-image: linear-gradient(110deg, #5fa0a0, #af75a2);
}

p {
    font-weight: 100;
}

.container {
    display: grid;
    grid-template-areas: 
        "aside"
        "main";
    grid-gap: 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
}

aside {
    position: relative;
    width: 100%;
    height: 600px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .7);
    grid-area: aside;
    text-align: center;
    padding-top: 30px;
}

.main {
    display: block;
    grid-area: main;
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .7);
    grid-area: main;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    /* overflow: hidden; */
    overflow: visible;
}

aside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #eee;
}

aside h4 {
    font-size: 2rem;
    margin-top: 10px;
    color: #222;
}

aside h4 span {
    color: #222;
}

aside .main-header p:nth-child(3) {
    background-color: #ddd;
    margin: 0 auto;
    padding: 7px 0;
    margin-top: 15px;
    border-radius: 10px;
    width: 150px;
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 15px 40px
}

.social span {
    margin: 10px;
    border: 1px solid #256af3;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.social span:hover {
    transition: all .3s ease-in-out;
    box-shadow: 0px 1px 4px 0px #256af3;
}

address {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 20px 5px;
}

address span:nth-child(1) {
    padding: 5px;
    margin-left: 10px;
}

address span i {
    font-size: 25px;
}

address p {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 5px;
}

.contact {
    position: relative;
    text-align: center;
    top: 40px;
}

.mail {
    text-decoration: none;
    position: relative;
    background-color: #256af3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

.mail:hover {
    background-color: #fff;
    color: #256af3;
    border: 1px solid #256af3;
    transition: all .3s ease-in-out;
} 

.contact {
    position: relative;
    text-align: center;
    top: 40px;
}

.mail {
    text-decoration: none;
    position: relative;
    background: #256af3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

.mail:hover {
    background: #fff;
    color: #256af3;
    border: 1px solid #256af3;
    transition: all .3s ease-in-out;
}


.heading-section {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.bottom {
    background: #256af3;
    width: 30%;
    height: 3px;
}

.title h1, 
.ido h2 {
    font-size: 2rem;
    margin: 7px 10px;
    margin-left: 0;
    text-transform: uppercase;
}

.info {
    margin: 40px;
}

.ido {
    padding: 20px;
    background-color: #eee;
    width: 100%;
    height: auto;
    position: absolute;
}

.ido-title {
    margin: 20px 10px;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.card-section .card {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}

.card-section .card-icon {
     justify-content: center;
     align-items: center;
     margin: 10px 20px 0px 0px;
}

.card-section .card:nth-child(2) .card-icon {
    margin-right: 30px;
}

.card-section .card-icon  i {
    font-size: 1.8rem;
    color: #256af3;

}

.nav {
    display: none;
}

.nav1 ul {    
    display: grid;
    grid-template-columns: 1fr;
    background-color: #256af3;
    z-index: 999;
    list-style: none;
    position: absolute;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .5);
    top: 70px;
    right: 30px;
    transition: all .4s ease-in-out;

    display: none;
}

.nav1 ul li {
    padding: 20px;
}

.nav1 ul li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

.nav-toggle button {
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 24px;
    outline: none;
    top: 30px;
    right: 30px;
}

.nav-toggle .inner{
    background: #000;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.nav-toggle .inner:before,
.nav-toggle .inner:after {
    background: #000;
    content: "";
    position: absolute;
    right: 0;
    height: 4px;
    border-radius: 5px;
}

.nav-toggle .inner:after {
    top: 20px;
    width: 70%;
}

.nav-toggle .inner:before {
    top: 10px;
    width: 50%;
}

.close {
    display: block;
    float: right;
    color: #fff;
    cursor: pointer;
}

.card-info {
    overflow: auto;
}

@media screen and (min-width: 700px) {
    aside {
        width: 75%;
        margin: 0 auto;
    }

    .main {
        width: 95%;
        margin: 0 auto;
    }

    .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    }

    .web-card {
        flex-direction: row;
        height: 130px; 
    }

    .card-icon {
        margin-bottom: 30px; /* Adjust the margin between icon and card-info */
    }

    .web-card h3 {
        margin-bottom: 5px;
    }

    .web-card p {
        color: rgb(92, 92, 92);
    }

}

@media screen and (min-width: 900px) {
    
    
    .container {
        display: grid;
        grid-template-areas: 
        "aside main main"
        "aside main main";
        grid-gap: 40px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    
    aside {
        position: relative;
        width: 270px;
        height: 600px;
        background: #fff;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .7);
        grid-area: aside;
        text-align: center;
        padding-top: 30px;
    }
    
    .main {
        width: 700px;
        height: 100%;
        background: #fff;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .7);
        grid-area: main;
        padding-top: 20px;
        position: relative;
        overflow: hidden;
    }

    address p {
        font-size: 1.2rem;
        margin-left: 10px;
        margin-top: 5px;
    }
    
    .nav-toggle{
        display: none;
    }

    .toggle {
        display: none;
    }

    .heading-section {
        justify-content: space-between;
        margin-left: 30px;
    }

    .nav {
        display: block;
        margin-right: -75px;
    }

    .nav ul {
        list-style: none;
        display: flex;
        background-color: #256af3;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .5);
    }

    .nav ul li {
        padding: 15px 20px;
        border-bottom: 2px solid transparent;
        transition: border .3s ease-in-out;
    }

    .nav ul li:hover {
        border-bottom: 2px solid #fff;
        cursor: pointer;
    }

    .nav ul li a {
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        color: #fff;
    }

    .ido {
        height: 80%;
    }

    .ido h2 {
        font-size: 1.5rem;
    }

    .info {
        margin: 30px 40px;
    }


    .ido-title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .nav1 {
        visibility: collapse;
    }

}